#concrete-data-structures-table {
    left: -1.8em;
}

table th, table td {
    vertical-align: top;
}

table td:last-child {
    padding-right: 0;
}

table a {
    white-space: nowrap;
    text-decoration: none;
}

table th.anchor, table th.horizontal-grouping-header {
    font-size: xx-large;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

table th.anchor a {
    display: inline;
    text-align: right;
    padding-right: 0.6em;
}

table th.horizontal-grouping-header {
    text-align: left;
}

table th.horizontal-grouping-header .superclass {
    opacity: 0.4;
}

table th.horizontal-grouping-header a.here {
}

table th.horizontal-grouping-header small {
    font-size: small;
    font-weight: normal;
}

table th ul li + li {
    margin-top: 0.2em;
}

table .hanging-menu {
    font-size: medium;
    font-weight: normal;
    margin-top: 0;
    top: -0.25em;
    right: -0.85em;
    background: transparent;
}

table > tbody > tr > th.horizontal-grouping-header a {
    font-size: inherit;
}
