table > tbody > tr > td > div.topic {
    border-top: dashed thin #9D9D9D; /*dashed thin #9D9D9D;*/
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.topic:first-child {
    border-top: none;
}

.deprecated, .discouraged, .obsolete {
    color: red;
}

.not-deprecated {
    color: green;
}

.vertical-tree tbody td {
    vertical-align: top;
    text-align: center;
}

.related {
    font-style: italic;
    border: solid antiquewhite 0.15em;
    padding: 0.05em 0.15em;
    margin-left: 0.25em;
}

.highlight, .highlight a {
    color: green;
}

.stub, .stub a {
    color: #BB0000;
}
